
body {
  background-image: url("download.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #cccccc;
  }

  header{
    text-align: center;
    margin-bottom: 40px;
    font-size: 28px;
  }

  h1 {
    color: #eee;
    display:inline-block;
    font-family: monospace;
  }

  h2 {
    color: #eee;
    font-family: monospace;
    font-size: 28px;
  }

  h3{
    color: #eee;
    font-family: monospace;
  }

  section p{
    color: #eee;
    font-family: monospace;
    text-align: center;
  }

  img {
    width: 30%;
  }

  section {
    width: 50%;
    text-align: center;
    border: 2px double rgb(216, 202, 11);
    border-radius: 50px;
  }

  section{
    animation-name: sliding;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
  }
  
  @keyframes sliding{
    0% {margin-left: 100%;}
    100% {margin-left: 0;}
  }

  footer p{
    color: black;
    font-size: 20px;
    text-align: center;
    text-decoration: wavy;
    font-family: monospace;
  }

  .main-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  